/*announcement menu*/
#block-menu-menu-announcement-menu {
    display: block;
    float: left;
}

#block-menu-menu-announcement-menu ul li {
    list-style: none;
}

/*subcategory dropdown menu*/
#block-superfish-1 {
    display: block;
    float: left;
}

/*news menu*/
#block-menu-menu-news-menu {
    display: block;
    float: left;
}

#block-menu-menu-news-menu ul li {
    list-style: none;
}
