html {

}

body {

}

#page-wrapper {

}

#page {
    margin: 0 auto;
    width: 900px;
}


#top-region-wrapper {
	
}

#top-region {
    height: 50px;
}

#header-region-wrapper {

}

#header-region {
    height: 255px;
}

#menu-region-wrapper {

}

#menu-region {
    /*height: 60px;*/
}

#content-region-wrapper {

}

#content-region {

}

#footer-region-wrapper {

}

#footer-region {

}

