#front-page-panel {

}

/* ----------- */
/*  left pane  */
/* ----------- */
#front-page-panel .panel-col-first {
    width: 220px;
}

#front-page-panel .panel-col-first .views-row {
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid #6d8c99;
    border-radius: 5px;
	height:117px;
	width:200px;
	overflow:hidden;
}

#front-page-panel .panel-col-first .views-field-title-field {
	background:#6d8c99;
	font:14px 'open sans';
	color:#fff;
}

#front-page-panel .panel-col-first .views-field-field-image {
    margin: 10px 10px 0 10px;
    float: left;
}

#front-page-panel .panel-col-first .views-field-body p{
    margin: 10px;
	font:12px 'open sans';
	color:#515151;
	line-height:14px;
}

/* ------------ */
/* central pane */
/* ------------ */
#front-page-panel .panel-col {
	overflow:hidden;
	
}
.panel-pane.pane-views-panes.pane-articles-last-articles {
margin-top:-20px;
}
#front-page-panel .panel-col .inside {
    margin: 0;
}

#front-page-panel .panel-col .views-row {
    margin: 20px;
    border: 2px solid #DB6A5B;
    border-radius: 5px;
	height:117px;
	overflow:hidden;
	width: 425px;
}

#front-page-panel .panel-col .views-field-title-field {
	background:#DB6A5B;
	font:14px 'open sans';
	color:#fff;
}

#front-page-panel .panel-col .views-field-field-image {
    margin: 10px 10px 0 10px;
    float: left;
}

#front-page-panel .panel-col .views-field-body {
    margin: 10px;
	margin: 10px;
	font:12px 'open sans';
	color:#515151;
	line-height:14px;
}

#front-page-panel .panel-col .views-row-2 {
	border-color:#FFD160;
}

#front-page-panel .panel-col .views-row-3 {
	border-color:#B289CA;
}
#front-page-panel .panel-col .views-row-2 .views-field-title-field {
		background:#FFD160;
}

#front-page-panel .panel-col .views-row-3 .views-field-title-field {
	background:#B289CA;
}

/* ----------------- */
/*  slider on front  */
/* ----------------- */
#front-page-panel .pane-slider-on-frontpage-panel-pane-1 {

}

#front-page-panel .pane-slider-on-frontpage-panel-pane-1 .view-slider-on-frontpage {

}

#front-page-panel .pane-slider-on-frontpage-panel-pane-1 .view-slider-on-frontpage .views-row {
	border: none;
}

#front-page-panel .pane-slider-on-frontpage-panel-pane-1 .view-slider-on-frontpage div.views-row {
	margin: 20px 0;
}

#front-page-panel .pane-slider-on-frontpage-panel-pane-1 .view-slider-on-frontpage li.views-row {
	
}

/* ------------ */
/*  right pane  */
/* ------------ */
#front-page-panel .panel-col-last {
    width: 220px;
}

#front-page-panel .panel-col-last .inside {
    margin: 0;
	
}

#front-page-panel .panel-col-last .views-row {
	margin-top: 20px;
    border: 2px solid #6d8c99;
    border-radius: 5px;
	height:117px;
	width:200px;
	overflow:hidden;
}

#front-page-panel .panel-col-last .views-field-title-field {
	background:#6d8c99;
	font:14px 'open sans';
	color:#fff;
}

#front-page-panel .panel-col-last .views-field-field-image {
    margin: 10px 10px 0 10px;
    float: left;
}

#front-page-panel .panel-col-last .views-field-body {
	margin: 10px;
	margin: 10px;
	font:12px 'open sans';
	color:#515151;
	line-height:14px;
}
